service_component create --name "{{project_name}}_SipService" --app-base /var/opt/OC/hpoc-see/wildfly/server/SipService.ear
service_component assign --name "{{project_name}}_SipService" --hostname "{{hostname}}" --instance-id "{{instance_id}}"
sip_provider create --name "{{project_name}}_SIPNL-SIP-PROVIDER-SIPSVC" --service-component "{{project_name}}_SipService" --prov-file "/opt/OC/share/hpoc-scif-sip/sipnist.config"
sip_provider assign --name "{{project_name}}_SIPNL-SIP-PROVIDER-SIPSVC" --hostname "{{hostname}}" --instance-id "{{instance_id}}" --ip-address "{{sip_ip}}" --port "{{sip_port}}" --transport "{{sip_transport}}"
parameter_bank create --name "{{project_name}}_sip-service-parameters"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.NgIn.Ui.Xml.FILE_REFRESHTIMER" --value "60000"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.NgIn.Srv.SIP.CALL_PROVIDER_NAME" --value "{{project_name}}_SIPNL-SIP-PROVIDER-SIPSVC"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.SIP_CALL_PROVIDER_TECHNO" --value "SIP"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.NgIn.Srv.SIP.CALL_PROVIDER_TECHNO" --value "SIP"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.SIP_CALL_PROVIDER_NAME" --value "{{project_name}}_SIPNL-SIP-PROVIDER-SIPSVC"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.redis.url" --value "{{redis_url}}"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.redis.queue.egress" --value "{{redis_queue}}"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.redis.queue.ingress" --value "{{redis_queue_ingress}}"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.tas.ip" --value "{{tas_ip}}"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.redis.poolsize" --value "{{redis_pool_size}}"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.NgIn.Net.Sip.SIP_PROVIDER_NAME" --value "{{project_name}}_SIPNL-SIP-PROVIDER-SIPSVC"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.NgIn.Net.Sip.DEFAULT_SIP_PROVIDER_NAME" --value "{{project_name}}_SIPNL-SIP-PROVIDER-SIPSVC"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.NgIn.Net.Sip.Resource.Mrf.RawMscml.RAW_IVR" --value "{{mrf_url}}"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.NgIn.Net.Sip.Resource.Mrf.Msml.MsmlMrfServer" --value "{{mrf_url}}"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.NgIn.Net.Sip.SIP_AUTOMATIC_REPLY_TO_OUTOFDIALOG_OPTIONS" --value "{{ auto_reply_SIP_Options | default("false") }}"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.NgIn.Net.Sip.INITIAL_SESSION_TIMEOUT_SECONDS" --value "60"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.NgIn.Net.Sip.Resource.RawMrf.RawMrfServer" --value "{{mrf_url}}"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.NgIn.Net.Sip.Resource.Mrf.Msml.MsmlMrfServer" --value "{{mrf_url}}"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.NgIn.Net.Sip.HEADER_RULES_JSON_FILEPATH" --value "/var/opt/OC/hpoc-see/wildfly/server/conf/{{project_name}}_sipServiceHeaderRules.json"
parameter_bank create --name "{{project_name}}_sip-connector-parameters"
parameter_bank add_parameter --name "{{project_name}}_sip-connector-parameters" --parameter "connector.max.threads" --value "32"
parameter_bank add_parameter --name "{{project_name}}_sip-connector-parameters" --parameter "connector.queue.max.events" --value "50000"
parameter_bank add_parameter --name "{{project_name}}_sip-connector-parameters" --parameter "connector.queue.medium.limit.percentage" --value "10"
parameter_bank add_parameter --name "{{project_name}}_sip-connector-parameters" --parameter "connector.queue.low.limit.percentage" --value "5"
parameter_bank add_parameter --name "{{project_name}}_sip-connector-parameters" --parameter "connector.max.spare.threads" --value "16"
parameter_bank add_parameter --name "{{project_name}}_sip-connector-parameters" --parameter "connector.min.spare.threads" --value "16"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "application.NgIn.Net.Sip.ENABLE_SESSION_HANDLING_FOR_NOTIFY_REQUEST" --value "{{ enable_handling_notify | default("true") }}"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "service.timer.queue.max.events" --value "50000"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "service.timer.queue.low.limit.percentage" --value "5"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "service.timer.queue.medium.limit.percentage" --value "10"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "service.timer.queue.max.threads" --value "16"
parameter_bank add_parameter  -N "{{project_name}}_sip-service-parameters" --parameter "service.timer.queue.min.spare.threads" --value "16"
parameter_bank add_parameter --name "{{project_name}}_sip-service-parameters" --parameter "application.NgIn.Net.Sip.START_MAX_DURATION" --value "{{ expiry_timer_call_start_ms  | default("300") }}"
parameter_bank add_parameter --name "{{project_name}}_sip-service-parameters" --parameter "application.NgIn.Net.Sip.MAX_GRACE_DURATION" --value "{{ expiry_timer_grace_delay_ms | default("200") }}"

sip_provider add_parameters --name "{{project_name}}_SIPNL-SIP-PROVIDER-SIPSVC" --parameters "{{project_name}}_sip-connector-parameters"
service_component add_parameters --name "{{project_name}}_SipService" --parameters "{{project_name}}_sip-service-parameters"