{
  "TASGw": {
    "queue": {
      "description": "this is the db where we are getting messages from",
      "ingress": "{{redis_queue_ingress}}",
      "egress": "{{redis_queue}}",
      "name": "queue",
      "frequency-read-queue-ms": 5000,
      "sentinels": [
          {
            "host": "{{rtengine_sentinel_primary}}",
            "port": {{rtengine_sentinel_port}}
          },
          {
            "host": "{{rtengine_sentinel_secondary}}",
            "port": {{rtengine_sentinel_port}}
          }
        ],
        "mastername": "{{rtengine_queue_master}}",
        "name": "queue",
        "timeout-ms": 10000,
        "nb-retries": 5,
        "maxIdle" : 32,
        "minTotal" : 32,
        "maxTotal" : 32
    },
    "monitor": {
      "sentinels": [
          {
            "host": "{{rtengine_sentinel_primary}}",
            "port": {{rtengine_sentinel_port}}
          },
          {
            "host": "{{rtengine_sentinel_secondary}}",
            "port": {{rtengine_sentinel_port}}
          }
      ],
      "mastername": "{{rtengine_monitor_master}}",
      "name": "monitor",
      "timeout-ms": 10000,
      "nb-retries": 5,
      "maxIdle" : 13,
      "minTotal" : 13,
      "maxTotal" : 13,
      "frequency-read-queue-ms": 5000,
      "description": "this is the db where the management keys of all instances are kept"
    },
    "overload" : {
        "queue-max-length": {{queue_max_length | default (250)}},
        "max-execution-time": {{max_execution_time | default (2750)}},
        "sleep-time" : {{overload_sleep_time | default (1000)}}
    },
    "sip-session-nack" : "OPTIONS",
    "nb-threads": {{rtengine_nb_threads}}
  },
  "name": "{{tasgw_instance_name}}",
    "description": "{{tasgw_instance_description}}",
    "bitbucketDescription": "",
    "bitbucketEnabled": false
}