#!/bin/bash

export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:{{nexus_install_path}}/tcapgw/lib
export PATH=$PATH:{{nexus_install_path}}/tcapgw/bin

cd {{nexus_install_path}}/tcapgw/
pkill -9 -f tcapgw.conf
sleep 0.5

rm -f log/*.*

tcapgw -c conf/tcapgw.conf
cd -

