logger_priority_level="{{tcapgw_loglevel}}"
app_threads_number="{{tcapgw_threads}}"
telnet_admin_port="{{tcapgw_telnet}}"
messages_interval="1000"
max_cpu_usage="100"
cdr_max_time="3600"
cdr_max_rec="1000"
redis_config="{{rtengine_sentinel_primary}}:{{rtengine_sentinel_port}};{{rtengine_sentinel_secondary}}:{{rtengine_sentinel_port}}"
redis_timeout="1"
redis_master="{{rtengine_queue_master}}"
sigtran_class_name="{{tcapgw_ss7stack}}"
sigtran_opc="{{tcapgw_ss7pc}}"
sigtran_appid="{{tcapgw_appid}}"
sigtran_gt="{{tcapgw_ss7gt}}"
expire_timeout="30"
number_release_cause="2"
relay_ssn="100"
relay_gt="359878000305"
relay_gt_tt="1"
sigtran_o_gt="359878000304"
sigtran_ssn="{{tcapgw_ss7ssn}}"
redis_ingress_queue="{{tcapgw_ingress}}"
redis_egress_queue="{{tcapgw_egress}}"
application_path="{{nexus_install_path}}/tcapgw/"
cdr_prefix="tcapgw"
cdr_location="cdr/"
cdr_queue="{{tcapgw_cdrqueue}}"
degraded_mode_duration="1200000"
degraded_mode_continous_duration="10"
degraded_mode="1"
degraded_dest_tt="1"
degraded_mode_gt_map="/home/ocadmin/TCAPGW/mnpfe1/conf/gtmap.json"
sigtran_sccp_servicekind="1"
