telco_op create -N H3G
country create -N AUSTRIA -C 43
telco_net create -o H3G -c AUSTRIA --name H3G
switching_point create --operator H3G --country AUSTRIA --name "MSC1" --digits "{{msc_digits}}" --nai "UNKNOWN" --npi "UNKNOWN" --tcap ITU88 --sccp "ITU" --protocol "CAMEL3" --pc "{{msc_pc}}" --ssn "{{msc_ssn}}"
media_server create --operator H3G --country AUSTRIA --name "IVR_RELAY_MSC1" --digits "{{msc_digits}}" --nai "UNKNOWN" --npi "UNKNOWN" --tcap ITU93 --switching-point "msc1" --technology "cs:relay"   --type "IVR"     --type "ANNOUNCER"   --weight "0" --tag ocmp