service_component create --name "SipService" --app-base {{svc_path}}/{{svc_file}}
service_component assign --name "SipService" --hostname "{{hostname}}" --instance-id "{{instance_id}}"
sip_provider create --name "SIPNL-SIP-PROVIDER-SIPSVC" --service-component "SipService" --prov-file "/opt/OC/share/hpoc-scif-sip/sipnist.config"
sip_provider assign --name "SIPNL-SIP-PROVIDER-SIPSVC" --hostname "{{hostname}}" --instance-id "{{instance_id}}" --ip-address "{{sip_ip}}" --port "{{sip_port}}" --transport "TCP"
parameter_bank create --name "sip-service-parameters"
parameter_bank add_parameter  -N "sip-service-parameters" --parameter "application.NgIn.Ui.Xml.FILE_REFRESHTIMER" --value "60000"
parameter_bank add_parameter  -N "sip-service-parameters" --parameter "application.NgIn.Srv.SIP.CALL_PROVIDER_NAME" --value "SIPNL-SIP-PROVIDER-SIPSVC"
parameter_bank add_parameter  -N "sip-service-parameters" --parameter "application.SIP_CALL_PROVIDER_TECHNO" --value "SIP"
parameter_bank add_parameter  -N "sip-service-parameters" --parameter "application.NgIn.Srv.SIP.CALL_PROVIDER_TECHNO" --value "SIP"
parameter_bank add_parameter  -N "sip-service-parameters" --parameter "application.SIP_CALL_PROVIDER_NAME" --value "SIPNL-SIP-PROVIDER-SIPSVC"
parameter_bank add_parameter  -N "sip-service-parameters" --parameter "application.redis.url" --value "{{redis_url}}"
parameter_bank add_parameter  -N "sip-service-parameters" --parameter "application.redis.poolsize" --value "{{redis_pool_size}}"
parameter_bank add_parameter  -N "sip-service-parameters" --parameter "application.NgIn.Net.Sip.SIP_PROVIDER_NAME" --value "SIPNL-SIP-PROVIDER-SIPSVC"
parameter_bank add_parameter  -N "sip-service-parameters" --parameter "application.NgIn.Net.Sip.DEFAULT_SIP_PROVIDER_NAME" --value "SIPNL-SIP-PROVIDER-SIPSVC"
parameter_bank add_parameter  -N "sip-service-parameters" --parameter "application.NgIn.Net.Sip.Resource.Mrf.RawMscml.RAW_IVR" --value "{{mrf_url}}"
parameter_bank add_parameter  -N "sip-service-parameters" --parameter "application.NgIn.Net.Sip.Resource.Mrf.Msml.MsmlMrfServer" --value "{{mrf_url}}"
parameter_bank add_parameter  -N "sip-service-parameters" --parameter "application.NgIn.Net.Sip.SIP_AUTOMATIC_REPLY_TO_OUTOFDIALOG_OPTIONS" --value "true"
parameter_bank add_parameter  -N "sip-service-parameters" --parameter "application.NgIn.Net.Sip.INITIAL_SESSION_TIMEOUT_SECONDS" --value "60"
parameter_bank add_parameter  -N "sip-service-parameters" --parameter "application.NgIn.Net.Sip.Resource.RawMrf.RawMrfServer" --value "{{mrf_url}}"
parameter_bank add_parameter  -N "sip-service-parameters" --parameter "application.NgIn.Net.Sip.Resource.Mrf.Msml.MsmlMrfServer" --value "{{mrf_url}}"
parameter_bank add_parameter  -N "sip-service-parameters" --parameter "application.NgIn.Net.Sip.HEADER_RULES_JSON_FILEPATH" --value "/var/opt/OC/hpoc-see/wildfly/server/conf/sipServiceHeaderRules.json"
parameter_bank create --name "sip-connector-parameters"
parameter_bank add_parameter --name "sip-connector-parameters" --parameter "connector.max.threads" --value "32"
parameter_bank add_parameter --name "sip-connector-parameters" --parameter "connector.queue.max.events" --value "50000"
parameter_bank add_parameter --name "sip-connector-parameters" --parameter "connector.queue.medium.limit.percentage" --value "10"
parameter_bank add_parameter --name "sip-connector-parameters" --parameter "connector.queue.low.limit.percentage" --value "5"
parameter_bank add_parameter --name "sip-connector-parameters" --parameter "connector.max.spare.threads" --value "16"
parameter_bank add_parameter --name "sip-connector-parameters" --parameter "connector.min.spare.threads" --value "16"
sip_provider add_parameters --name "SIPNL-SIP-PROVIDER-SIPSVC" --parameters "sip-connector-parameters"
service_component add_parameters --name "SipService" --parameters "sip-service-parameters"